.item-info-heading{
    width: 100%;
    font-size: 1.2rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.item-info-heading a{
    margin-left: 5rem;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    color: black;
    border-radius: 50%;
    transition: 0.3s;
}
.item-info-heading a:hover{
    background-color: #0066ff85;
}
.item-info-wrapper{
    width: 100%;
    overflow-y: scroll;
}
.item-info-container {
    width: 60%;
    margin: auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0.1px rgba(0, 0, 0, 0.248);
  }

  button{
    height: 2.6rem;
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: #0065FF;
    color: white;
    border-radius: 4px;
   }
   
   button:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #0065FF 0%, rgb(0, 140, 255) 100%);
   }
   
   button:active {
    transform: translate(0em, 0.2em);
   }
  
  .input-group {
    margin-top: 15px;
  }
  
  .input-row {
    display: flex;
    margin-bottom: 10px;
  }
  
  .input-row label{
    width: 11vw;
    font-size: 18px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="number"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
  }

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  
  .popup {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .popup h2 {
    margin-bottom: 10px;
  }
  
  .popup button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup button:hover {
    background-color: #0056b3;
  }
  
  